---
import Button from "@/components/Common/Button/Button.svelte";
import { storyblokEditable } from '@storyblok/astro';
import type { SbBlokData } from '@storyblok/astro';
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;


const linkProps = blok.link ? {
   href: blok.link.cached_url,
   target: blok.link.target,
   rel: blok.rel
} : {}
---

<Button 
   {...storyblokEditable(blok)}
   size={blok.size}
   color={blok.color}
   variant={blok.variant}
   rounded={blok.rounded}
   shadow={blok.shadow}
   block={blok.block}
   ripple={blok.ripple}
   square={blok.square}
   capitalize={blok.capitalize}
   uppercase={blok.uppercase}
   klass={blok.klass}
   {...linkProps}
   {...blok.attributes}
>
   {
      blok.slot?.map((blok: SbBlokData) => {
        return <StoryblokComponent blok={blok} />
      })
   }
   {blok.label}
</Button>