---
   import AccordeonTrigger from "./AccordeonTrigger.svelte";
   import AccordeonContent from "./AccordeonContent.svelte";
   import Icon from "astro-icon";
   import boxGen from "../../../styles/mist-theme";

export interface Session {
  title: string
  icon: string
  key: number
}
export interface Props {
  session: Session
}
const { session } = Astro.props

const accStyle = boxGen.full({
   variant: 'fill',
   color: 'surface_alt',
   size: 'lg',
   hover: true,
   active: true,
   style: {
      rounded: 'tile-lg',
      shadow: 'bevel',
      block: true,
   },
   classes: `group overflow-hidden`
})

let open = false
---
<script define:vars={{ open, session }}>

   const toggle = () => {
      open = !open
      console.log(open);
   }
   const accordeonTrigger = document.getElementById(`accordeon__wrap-${session.key}`)

   accordeonTrigger.addEventListener('click', toggle)
   accordeonTrigger.addEventListener('keydown', (e) => { if (e.key === 'Enter') toggle() })

</script>

<div
   tabindex="0"
   id={`accordeon__wrap-${session.key}`}
   class={accStyle}>

   <AccordeonTrigger 
      client:idle 
      open={open}
      title={session.title} 
      titleId={'accordeon__title-' + session.key}
      contentId={'accordeon__content-' + session.key}>
      <Icon name={session.icon} />
   </AccordeonTrigger>

   {
      open ?
         <AccordeonContent client:idle key={session.key}>
            <slot />
         </AccordeonContent>
         : null
   }

   
</div>