---
import { t } from "i18next";
// Astro components
import Section from "@/components/Core/Section/Section.astro";
// Svelte components
import Title from "@/components/Text/Title/Title.svelte";
import Card from "@/components/Common/Card/Card.svelte";
import Svg from "@/components/Media/Svg/Svg.svelte";

import { gaps } from "@/consts/style";

let ctaCards:{[key:string]:string}[] = [];
/* @ts-ignore */
Object.keys(t("home:cta")).forEach((key) => {
	if (
      key !== 'title'
   && key !== 'calculate_price' // TODO: remove when price calculator is ready
   ) {
		ctaCards.push({
			title: t(`home:cta.${key}.title`),
			subtitle: t(`home:cta.${key}.subtitle`),
			icon: 'DevicesResponsive',
         slug: t(`home:cta.${key}.slug`)
		})
	}
});
---

<!-- CTA -->
<Section alt name={t('site:pages.home.sections.cta')} title={`${t("home:cta.title")}`}>
   <div class={`grid grid-cols-1 md:grid-cols-2 ${gaps}`}>
      {ctaCards.map((item) => (
         <><a class="unstyled" href={`/${item.slug}`}><Card client:idle block hover active fillHeight>
            <div slot="title" class="flex items-center justify-start gap-3">
               <Svg animIcon={item.icon} size={48} />
               <Title h3 size="xs" class="pt-2">
                  {item.title}
               </Title>
            </div>
            {item.subtitle}
         </Card></a></>
      ))}
   </div>
</Section>
<!-- END CTA -->