---
   import { t } from "i18next";

   import Card from "@/components/Common/Card/Card.svelte";
   import { Picture } from "@astrojs/image/components";
   import Button from "@/components/Common/Button/Button.svelte";

   export interface Props {
      href: string;
      title: string;
      label: string;
      tags: string[];
      
      imgSrc: string;
      imgAlt: string;
   }

   const { href, title, label, tags, imgSrc, imgAlt } = Astro.props;
---
<a 
   href={href} 
   class="unstyled transition-all duration-300 ease-out" 
   aria-label={label}
   id={label}>
   <Card
      client:load
      article footer hover noClamp
      block fillHeight direction="row"
      title={title}
      labelledBy={label}
      tags={tags}
      >
      <Picture 
         slot="media"
         src={imgSrc}
         alt={imgAlt}
         sizes="(min-width: 300px;) 240w, (min-width: 600px;) 360w, (min-width: 900;) 540w"
         widths={[240, 360, 540]}
         formats={['webp', 'avif', 'jpeg']}
         aspectRatio={16 / 12}
         fit="cover"
         position="left"
         class="w-full h-auto opacity-70 brightness-75 contrast-125"
      />
      <slot />
   
      <div slot="footer">
         <Button
            client:load
            variant="fill" color="primary"
            size="xl"
         >
            {t("btn.more_info")}
         </Button>
      </div>
   </Card>
</a>