---
   import i18next from 'i18next';
	import LanguageSelector from './LanguageSelector.astro'

   import type { NavItem } from '@tstype/components/header';
   import { baseLocale } from '@utils/i18n';
   import Button from '@comp/Common/Button/Button.svelte';
   import Svg from '@comp/Media/Svg/Svg.svelte';
   import HeaderLink from './HeaderLink.svelte';
   import LightSwitch from './LightSwitch.svelte';
   import Menu from '@comp/Common/Menu/Menu.svelte';
   

   const { pathname } = Astro.url;
   let currentLocaleSlug = i18next.language === baseLocale ? '' : i18next.language + '/';
   const { width } = Astro.props;

   const navItems:NavItem[] = [
		{ 
         label: 'Home', 
         href: `/${currentLocaleSlug}` },
		{ 
         label: 'About', 
         href: `/${currentLocaleSlug}about` 
      },
		{ 
         label: 'Cases', 
         href: `/${currentLocaleSlug}cases` 
      },
		{ 
         label: 'Solutions', 
         href: `/${currentLocaleSlug}solutions`,
         items: [
            {
               label: 'Web Solutions',
               href: `/${currentLocaleSlug}solutions/web`
            },
            {
               label: 'Graphic Design',
               href: `/${currentLocaleSlug}solutions/graphic-design`
            },
            {
               label: 'Marketing',
               href: `/${currentLocaleSlug}solutions/marketing`
            },
            {
               label: '3D Visualisation',
               href: `/${currentLocaleSlug}solutions/3d`
            },
            {
               label: 'Audiovisual',
               href: `/${currentLocaleSlug}solutions/audiovisual`
            }
         ]
      },
		{ 
         label: 'Blog', 
         href: `/${currentLocaleSlug}blog` 
      },
		{ 
         label: 'Contact', 
         href: `/${currentLocaleSlug}contact` 
      },
	];

   const headerClass = `
      flex flex-row w-full z-30
      justify-between items-center
      mb-8 fixed top-0 left-0 right-0
      backdrop-blur-md
      shadow-xl shadow-surface-900/10 dark:shadow-xl dark:shadow-primary-400/3
		bg-surface-100/20	 dark:bg-surface-800/20 
		py-6`;
---

<header class={headerClass}>
   <div class={`${width} flex flex-row justify-between items-center mx-auto`}>
      <Button client:load variant="minimal" color="surface_alt" shadow="none" href="/">
			<Svg logo size={150} />
		</Button>
      
      <nav>
         <ul class="flex flex-row gap-1 lg:gap-2">
            {navItems.map(item => (

               item.items ? (
                  <><Menu client:load id="nav_menu" event="hover">
                     <HeaderLink slot="trigger" currentPath={pathname} href={item.href}>
                        {item.label}
                     </HeaderLink>
                     <ul>{item.items.map(dropdownItem => (
                        <HeaderLink slot="trigger" currentPath={pathname} href={item.href}>
                           {item.label}
                        </HeaderLink>
                     ))}</ul>
                  </Menu></>
               ) : (
                  <><HeaderLink client:load currentPath={pathname} href={item.href}>
                     {item.label}
                  </HeaderLink></>
               )

            ))}
         </ul>
      </nav>

      <div class="flex flex-row gap-2 justify-end items-center">
         <LanguageSelector />
         <LightSwitch client:load />
      </div>
   </div>
</header>