---
import { t } from 'i18next'
import { gaps } from '@/consts/style'

// Astro components
import BaseLayout from "@layouts/BaseLayout.astro";
import Page from '@/components/Core/Page/Page.astro';
import Section from '@/components/Core/Section/Section.astro';
import Hero from '@/components/Common/Hero/Hero.astro';
import { Picture } from '@astrojs/image/components';
// Svelte components
import Link from '@/components/Common/Button/Link.svelte';
// Page specific components
import CaseCard from '@/components/Pages/Cases/CaseCard.astro';
import db from '@/firebase';
import SolutionPortfolioCard from '@/components/Pages/Solutions/Common/SolutionPortfolioCard.astro';
import Drawer from '@/components/Common/Drawer/Drawer.svelte';

const lang = "nl";
const cases = await db.doc.fetch.collection('portfolio');

export const prerender = true;
---

<BaseLayout title={t('site:pages.cases.title')}>
   <Page>
      <Hero slot="hero" alt title="Cases">
			<span slot="subtitle">
				We're proud to present a growing selection of cases we have worked on in the past.
			</span>
		</Hero>

   <Section name="trixolutions-cases" title="">
      <ul class={`w-full grid ${gaps} grid-cols-2 min-h-[900px]`}>

         { cases.map( (item) => (
            item.enabled && (
               <><div class={` col-span-1 `}>
                  <Drawer client:load placement="right">
                     <div slot="trigger" class="h-full w-full">
                        <SolutionPortfolioCard
                           title={item.title}
                           image={item.images.card}
                           description={item.description[lang]}
                           categories={ item.categories }
                           tags={[]}
                        />
                     </div>
                     <span slot="title">{item.title}</span>
                     {() => {
                        return <><div>
                           <span>{item.description[lang]}</span>
                           
                        </div></>
                     }}
                  </Drawer>
               </div></>
            )
			))}

<!-- <CaseCard
   href={card.href} label={card.label}
   title={card.title} tags={card.tags}
   imgSrc={card.imgSrc} imgAlt={card.imgAlt}>
   {card.content}
</CaseCard> -->
      </ul>
   </Section>
      
   </Page>
</BaseLayout>