---
import { t } from 'i18next'
import { gaps } from '@/consts/style'

// Astro components
import BaseLayout from "@layouts/BaseLayout.astro";
import Page from '@/components/Core/Page/Page.astro';
import Section from '@/components/Core/Section/Section.astro';
import Hero from '@/components/Common/Hero/Hero.astro';
import { Picture } from '@astrojs/image/components';
// Svelte components
import Link from '@/components/Common/Button/Link.svelte';
// Page specific components
import CaseCard from '@/components/Pages/Cases/CaseCard.astro';
import db from '@/firebase';
import SolutionPortfolioCard from '@/components/Pages/Solutions/Common/SolutionPortfolioCard.astro';
import Drawer from '@/components/Common/Drawer/Drawer.svelte';

const lang = "nl";
const cases = await db.doc.fetch.collection('portfolio');
console.log(cases);


const casesCards = [
   {
      href: '/',
      label: 'Get to know more about this project',
      title: 'Trixolutions LMS',
      tags: ['Client', 'Web Design', 'Web Development', 'Web Management'],
      imgSrc: '/images/stock/code-1.webp',
      imgAlt: 'Placeholder Card Image',
      content: 'As Trixolutions upgraded from an exclusively physical service to a hybrid online learning trajectory, they were in need of an easy-to-manage, yet scalable platform to invite their participants on and manage their education from there. We came up with the Trixolutions Hybrid Teamcoaching Trajectory, and created an online Learning Management System so their students could get a large part of the learning experience from behind their computers and smartphones.'
   },
   {
      href: '/',
      label: 'Get to know more about this project',
      title: 'Trixolutions LMS',
      tags: ['Client', 'Web Design', 'Web Development', 'Web Management'],
      imgSrc: '/images/stock/code-1.webp',
      imgAlt: 'Placeholder Card Image',
      content: 'With the expansion of Trixolutions to the Netherlands, a new site was needed. As the offer of services varies from country to country, we couldn’t just attach this part to the .be-website. Trixolutions.nl was created, and the Hybrid Learning Management System is also available in the Netherlands now.'
   },
   {
      href: '/',
      label: 'Get to know more about this project',
      title: 'Trixolutions LMS',
      tags: ['Client', 'Web Design', 'Web Development', 'Web Management'],
      imgSrc: '/images/stock/code-1.webp',
      imgAlt: 'Placeholder Card Image',
      content: 'With the expansion of Trixolutions to the Netherlands, a new site was needed. As the offer of services varies from country to country, we couldn’t just attach this part to the .be-website. Trixolutions.nl was created, and the Hybrid Learning Management System is also available in the Netherlands now.'
   },
]

export const prerender = true;
---

<BaseLayout title={t('site:pages.cases.title')}>
   <Page>
      <Hero slot="hero" alt title="Cases">
			<span slot="subtitle">
				We're proud to present a growing selection of cases we have worked on in the past.
			</span>
		</Hero>

   <Section name="trixolutions-cases" title="">
      <ul class={`w-full grid ${gaps} grid-cols-3 grid-rows-[repeat(7,_minmax(0,_1fr))] min-h-[900px]`}>

         { cases.map((item) => (
            item.enabled && (
               <><div class={` col-span-1 row-span-3 `}>
                  <Drawer client:idle placement="right">
                     <div slot="trigger" class="h-full w-full">
                        <SolutionPortfolioCard
                           title={item.title}
                           image={item.images.card}
                           description={item.description[lang]}
                        />
                     </div>
                     <span slot="title">{item.title}</span>
                     {() => {
                        return <><div>
                           <span>{item.description[lang]}</span>
                           
                        </div></>
                     }}
                  </Drawer>
               </div></>
            )
			))}

<!-- <CaseCard
   href={card.href} label={card.label}
   title={card.title} tags={card.tags}
   imgSrc={card.imgSrc} imgAlt={card.imgAlt}>
   {card.content}
</CaseCard> -->
      </ul>
   </Section>
      
   </Page>
</BaseLayout>