---
   import { widths } from '@const/class';
   
   // Svelte components
   import type { TitleSizes } from '@tstype/components/heading';
   import Heading from '../../Common/Heading/Heading.svelte';
   import { Picture } from '@astrojs/image/components';

   export interface Props {
      title: string;
      bgImg: string;
      customTitle?: boolean;
      titleSize?: TitleSizes;
      titleWidth?: string;
      alt?: boolean;
      media?: boolean;
      cardWidth?: string;
      customHeight?: string;
      klass?: string;
   }

   const { 
      title, 
      bgImg,
      customTitle = false, 
      titleSize = 'md', 
      titleWidth = 'w-full', 
      alt = false, 
      media = false, 
      cardWidth = '', 
      customHeight = '', 
      klass = '' 
   } = Astro.props;

   const innerWidth = cardWidth ? cardWidth : widths;

   const transition = 'transition-all duration-300 ease-out';


   const cardClass = alt ? ''
      : `flex flex-col sm:flex-row items-center justify-start
         gap-4 sm:gap-0 md:gap-2 lg:gap-8 
         mx-auto px-6 pt-6 rounded-2xl overflow-hidden z-2
         bg-surface-100/70 dark:bg-slate-600/60
         backdrop-brightness-50 backdrop-blur-sm dark:backdrop-blur-md`
---

<div
   class={`w-full overflow-hidden relative
         bg-surface-200/50 dark:bg-surface-700/50
         m-0 px-0 pt-36 pb-16 
         flex justify-center items-center 
         ${transition} ${klass}`}>
   <!-- Background Image -->
   <div 
      class="
         absolute -z-1 top-0 
         h-full flex items-center justify-center
         w-full m-0 p-0 blur-sm
         bg-surface-200 dark:bg-surface-700">
        
      <Picture 
         src={bgImg}
         alt={title}
         sizes="100vw"
         widths={[320, 640, 1024, 1280, 1920]}
         formats={['webp', 'avif', 'jpeg']}
         aspectRatio={16 / 12}
         fit="cover"
         position="center"
         class="w-full h-auto opacity-70 brightness-75 contrast-125 mix"
      />
   </div>
   <!-- Middle Card -->
   <div class={`
         ${ cardClass }
         ${ customHeight ? customHeight : 'h-fit'} 
         ${ innerWidth }`}>
      <!-- Media -->
      { media && (
         <slot name="media"></slot>
      )}

      <div class="flex flex-col gap-2 w-full {titleWidth} pb-6"> 
         { customTitle ? 
            <slot name="title">Custom Title Here</slot>
          : 
            <Heading type="h1" klass="w-full" size={alt ? 'xl' : titleSize}>
               {title}
            </Heading>
         }
         
         <div class={ alt ? 'bg-surface-900 dark:bg-surface-300 mix-blend-overlay px-2 pt-1' : '' }>
            <Heading 
               type="subheader" 
               size="lg" 
               color={ alt ? 'text-white mix-blend-difference' : ''}
               weight="font-semibold italic">
               <slot name="subtitle"/>
            </Heading>
         </div>

         <p>
            <slot/>
         </p>
      </div>

   </div>
</div>