---
import { t, changeLanguage } from "i18next";
// Astro components
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
// Main components
import BaseLayout from "@layouts/BaseLayout.astro";
import Page from "@comp/Base/Page.astro";
import Section from "@comp/Base/Section.astro";
import Hero from "@comp/Main/Hero/Hero.astro";
// Svelte components
import Heading from "@comp/Common/Heading/Heading.svelte";
import Card from "@comp/Common/Card/Card.svelte";
import Svg from "@comp/Media/Svg/Svg.svelte";
import Accordeon from "@comp/Common/Accordeon/Accordeon.svelte";
import AccordeonItem from "@comp/Common/Accordeon/AccordeonItem.svelte";
// Page specific components
import HomePortfolioSlider from "@comp/Pages/Home/HomePortfolioSlider.svelte";

// Consts
import { SERVICES } from "@const/index";


changeLanguage("nl");

let servicesCards:{[key:string]:string}[] = [];
/* @ts-ignore */
Object.keys(t("services:services")).forEach((key) => {
	 servicesCards.push({
		  title: t(`services:services.${key}.title`),
		  subtitle: t(`services:services.${key}.subtitle`),
		  description: t(`services:services.${key}.description`),
		  icon: SERVICES.icons[key]
	 })
});

let reviewCards:{[key:string]:string}[] = [];
/* @ts-ignore */
t("home:reviews.items").forEach((review, key) => {
	 reviewCards.push({
		  name: review.name,
		  company: review.company,
		  job_title: review.job_title,
		  review: review.review,
		  avatar: 'https://i.pravatar.cc/100'
		//   avatar: AVATARS.reviews[key]
	 })
});

let ctaCards:{[key:string]:string}[] = [];
/* @ts-ignore */
Object.keys(t("home:cta")).forEach((key) => {
	if (key !== 'title') {
		ctaCards.push({
			title: t(`home:cta.${key}.title`),
			subtitle: t(`home:cta.${key}.subtitle`),
			icon: 'DevicesResponsive'
		})
	}
});

let faqItems:{[key:string]:string}[] = [];
/* @ts-ignore */
t("home:faq.items").forEach((item) => {
	 faqItems.push({
		  question: item.question,
		  answer: item.answer,
		  icon: 'ph:gear-six-duotone'
	 })
});
---

<BaseLayout title={t("site:pages.home.title")}>
	<Page>
		<!-- HERO -->
		<Hero title="Mist Media" bgImg="/images/stock/code-1.webp" slot="hero" media>
			<Picture 
				slot="media"
				src="/images/hero/DevicesShowcase-Light.png"
				alt={t("home:img.alt.default")}
				sizes="(min-width: 600px;) 400w, (min-width: 800px;) 600w, (min-width: 1200px;) 800w"
				widths={[400, 600, 800]}
				formats={['webp', 'avif', 'png']}
				aspectRatio={1.172}
				fit="contain"
				position="bottom"
				class="w-fit max-w-md h-auto bg-transparent opacity-70 mix-blend-darken"
			/>
		</Hero>
		<!-- END HERO -->

		<!-- SERVICES -->
		<Section name="our-services" title={ `${t("home:sections.services.title")}` }>
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
				{servicesCards.map((item) => (
					<><Card client:idle direction="row" centerRow block hover active>
						<Heading slot="title" type="h3" size="xxs" weight="font-bold">
							{item.title}
						</Heading>
						<Icon 
							slot="media" name={item.icon} 
							class={`
								text-surface-900 group-hover:text-primary-800 
								dark:text-surface-50 dark:group-hover:text-primary-400 
								transition-all duration-300 ease-out 
								w-40 h-auto`} 
						/>
						{item.description}
					</Card></>
				))}
			</div>
		</Section>
		<!-- END SERVICES -->
		
		<!-- PORTFOLIO -->
		<Section alt name="portfolio" title={`${t("home:sections.portfolio.title")}`}>
			Coming very soon!
			<!-- <HomePortfolioSlider 
            client:load
         /> -->
		</Section>
		<!-- END PORTFOLIO -->

		<!-- REVIEWS -->
		<Section name="reviews" title={`${t("home:reviews.title")}`}>
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
				{reviewCards.map((item) => (
					<><Card client:idle block hover>
						<div slot="title" class="flex items-center justify-start gap-3">
							<Picture 
								src={item.avatar}
								alt="Placeholder Avatar"
								sizes="(min-width: 300px;) 30w, (min-width: 600px;) 45w, (min-width: 900;) 60w"
								widths={[30, 45, 60]}
								formats={['webp', 'avif', 'jpeg']}
								aspectRatio={1}
								fit="cover"
								position="center"
								class="w-12 h-12 rounded-full "
							/>
							<div class="flex flex-col gap-0 items-start justify-center">
								<Heading type="h3" size="xxs" klass="pt-2">
									{item.name}
								</Heading>
								<Heading type="subtitle" size="xxs" klass="italic">
									{item.job_title}
								</Heading>
							</div>
						</div>
						{item.review}
					</Card></>
				))}
			</div>
		</Section>
		<!-- END REVIEWS -->

		<!-- CTA -->
		<Section alt name="cta" title={`${t("home:cta.title")}`}>
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
				{ctaCards.map((item) => (
					<><Card client:idle block hover active>
						<div slot="title" class="flex items-center justify-start gap-3">
							<Svg animIcon={item.icon} size={48} />
							<Heading type="h3" size="xxs" klass="pt-2">
								{item.title}
							</Heading>
						</div>
						{item.subtitle}
					</Card></>
				))}
			</div>
		</Section>
		<!-- END CTA -->

		<!-- FAQ -->
		<Section name="faq" title={`${t("home:faq.title")}`}>
			<Accordeon client:load>
				{faqItems.map((item, index) => (
					<AccordeonItem key={index} title={item.question} icon={item.icon ? true : false} client:load>
						<Icon name={item.icon} slot="icon" />
						{item.answer}
					</AccordeonItem>
				))}
			</Accordeon>
		</Section>
		<!-- END FAQ -->
	</Page>
</BaseLayout>
