---
import { changeLanguage } from "i18next";
import { t, changeLanguage } from "i18next";
// Astro components
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
// Main components
import BaseLayout from "@layouts/BaseLayout.astro";
import Page from "@comp/Base/Page.astro";
import Section from "@comp/Base/Section.astro";
// Svelte components
import Box from "@comp/Base/Box.svelte";
import Button from "@comp/Common/Button/Button.svelte";
import Heading from "@comp/Common/Heading/Heading.svelte";
import Card from "@comp/Common/Card/Card.svelte";
import Svg from "@comp/Media/Svg/Svg.svelte";
import Hero from "@comp/Main/Hero/Hero.svelte";
import Accordeon from "@comp/Common/Accordeon/Accordeon.svelte";
import AccordeonItem from "@comp/Common/Accordeon/AccordeonItem.svelte";
// Page specific components
import HomePortfolioSlider from "./components/HomePortfolioSlider.svelte";

changeLanguage("nl");

const servicesCards = [
    {
        title: "Web Design & Development",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        icon: "ph:globe-simple-duotone"
    },
    {
        title: "Graphic Design & Branding",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        icon: "ph:paint-bucket-duotone"
    },
    {
        title: "SEO",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        icon: "ph:rocket-launch-duotone"
    },
    {
        title: "Social Media",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        icon: "ph:megaphone-simple-duotone"
    },
    {
        title: "3D Visualisation",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        icon: "ph:cube-duotone"
    },
    {
        title: "Audio Visual",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        icon: "ph:film-slate-duotone"
    }
];
const reviewCards = [
    {
        name: "Big Boss",
        job_title: "Lorem ipsum dolor",
        review: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        avatar: "https://i.pravatar.cc/300"
    },
    {
        name: "Someone Else",
        job_title: "Lorem ipsum dolor",
        review: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        avatar: "https://i.pravatar.cc/300"
    },
    {
        name: "Important Person",
        job_title: "Lorem ipsum dolor",
        review: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        avatar: "https://i.pravatar.cc/300"
    },
];
const ctaCards = [
    {
        title: "Contact 1",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        icon: "DevicesResponsive"
    },
    {
        title: "Contact 2",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        icon: "DevicesResponsive"
    },
    {
        title: "Contact 3",
        description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.",
        icon: "DevicesResponsive"
    }
];
const faqItems = [
    {
        question: "Question 1",
        answer: "This is an answer.",
        icon: "ph:gear-six-duotone"
    },
    {
        question: "Question 2",
        answer: "This is an answer.",
        icon: "ph:gear-six-duotone"
    },
    {
        question: "Question 3",
        answer: "This is an answer.",
        icon: "ph:gear-six-duotone"
    },
    {
        question: "Question 4",
        answer: "This is an answer.",
        icon: "ph:gear-six-duotone"
    }
];
---

<BaseLayout title={t("site:pages.home.title")}>
	<Page>
		<Hero slot="hero" customTitle media client:load>
			<Picture 
				slot="bg-img"
				src="/images/stock/code-1.webp"
				alt="Placeholder Hero Image"
				sizes="100vw"
				widths={[320, 640, 1024, 1280, 1920]}
				formats={['webp', 'avif', 'jpeg']}
				aspectRatio={16 / 12}
				fit="cover"
				position="center"
				class="w-full h-auto opacity-70 brightness-75 contrast-125 mix"
			/>
	
			<Picture 
				slot="media"
				src="/images/hero/DevicesShowcase-Light.png"
				alt="Placeholder Hero Image"
				sizes="(min-width: 600px;) 400w, (min-width: 800px;) 600w, (min-width: 1200px;) 800w"
				widths={[400, 600, 800]}
				formats={['webp', 'avif', 'png']}
				aspectRatio={1.172}
				fit="contain"
				position="bottom"
				class="w-fit max-w-md h-auto bg-transparent opacity-70 mix-blend-darken"
			/>
			<div slot="title">
				<div class="">
	
				</div>
				<Heading type="h1" size="sm" color="primary" client:load>
					Hello
				</Heading>
			</div>
		</Hero>

		<Section name="our-services" title={ t("home:sections.services.title") }>
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
				{servicesCards.map((item) => (
					<><Card client:idle direction="row" block hover active title={item.title}>
						<Icon 
							slot="media" name={item.icon} 
							class="text-surface-900 group-hover:text-primary-800 dark:text-surface-50 dark:group-hover:text-primary-400 transition-all duration-300 ease-out w-20 h-auto" 
						/>
						{item.description}
					</Card></>
				))}
			</div>

			<Card hover active title="Card Title">
				<Picture 
					slot="media"
					src="/images/stock/code-1.webp"
					alt="Placeholder Card Image"
					sizes="(min-width: 300px;) 240w, (min-width: 600px;) 360w, (min-width: 900;) 540w"
					widths={[240, 360, 540]}
					formats={['webp', 'avif', 'jpeg']}
					aspectRatio={16 / 12}
					fit="cover"
					position="center"
					class="w-full h-auto opacity-70 brightness-75 contrast-125"
				/>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae tempora mollitia ullam cumque doloribus quasi unde fugiat ex placeat temporibus aperiam quos nulla necessitatibus et ratione repellat totam dolores, ad ducimus optio iure exercitationem. Illum aut fugit molestiae ut ducimus?
			</Card>
		</Section>
		
		<Section alt name="portfolio" title="The Things We Have Done">
			Coming very soon!
			<!-- <HomePortfolioSlider 
            client:load
         /> -->
		</Section>

		<Section name="portfolio" title="The Things They Say About Us">
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
				{reviewCards.map((item) => (
					<><Card client:idle block hover>
						<div slot="title" class="flex items-center justify-start gap-3">
							<Picture 
								src={item.avatar}
								alt="Placeholder Avatar"
								sizes="(min-width: 300px;) 30w, (min-width: 600px;) 45w, (min-width: 900;) 60w"
								widths={[30, 45, 60]}
								formats={['webp', 'avif', 'jpeg']}
								aspectRatio={1}
								fit="cover"
								position="center"
								class="w-12 h-12 rounded-full "
							/>
							<div class="flex flex-col gap-0 items-start justify-center">
								<Heading type="h3" size="xxs" klass="pt-2">
									{item.name}
								</Heading>
								<Heading type="subtitle" size="xxs" klass="italic">
									{item.job_title}
								</Heading>
							</div>
						</div>
						{item.review}
					</Card></>
				))}
			</div>
		</Section>

		<Section alt name="cta" title="Let's Get In Touch!">
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
				{ctaCards.map((item) => (
					<><Card client:idle block hover active>
						<div slot="title" class="flex items-center justify-start gap-3">
							<Svg animIcon={item.icon} size={48} />
							<Heading type="h3" size="xxs" klass="pt-2">
								{item.title}
							</Heading>
						</div>
						{item.description}
					</Card></>
				))}
			</div>
		</Section>

		<Section name="faq" title="Frequently Asked Questions">
			<Accordeon client:load>
				{faqItems.map((item, index) => (
					<AccordeonItem key={index} title={item.question} icon={item.icon ? true : false} client:load>
						<Icon name={item.icon} slot="icon" />
						{item.answer}
					</AccordeonItem>
				))}
			</Accordeon>
		</Section>
	</Page>
</BaseLayout>
