---
import { t, changeLanguage } from "i18next";
// Astro components
import BaseLayout from "@layouts/BaseLayout.astro";
import Page from "@/components/Core/Page/Page.astro";
import Section from "@/components/Core/Section/Section.astro";
import Hero from "@/components/Common/Hero/Hero.astro";
import { Picture } from "@astrojs/image/components";
// Svelte components
import Box from "@/components/Core/Box.svelte";
import Button from "@/components/Common/Button/Button.svelte";
import Card from "@/components/Common/Card/Card.svelte";
import Drawer from "@/components/Common/Drawer/Drawer.svelte";
import Svg from "@/components/Media/Svg/Svg.svelte";
import MistLogoAnim from "@/components/Media/Svg/svg-assets/MistLogoAnim.svelte";
// Page specific components
import AboutTechStackMarquee from "@/components/Pages/About/AboutTechStackMarquee.astro";
import LinkedInBtn from "@/components/Pages/About/SocialBtns/LinkedInBtn.astro";
import GithubBtn from "@/components/Pages/About/SocialBtns/GithubBtn.astro";
import FacebookBtn from "@/components/Pages/About/SocialBtns/FacebookBtn.astro";
import InstagramBtn from "@/components/Pages/About/SocialBtns/InstagramBtn.astro";
import TwitterBtn from "@/components/Pages/About/SocialBtns/TwitterBtn.astro";
// Common Section components
import CallToAction from "@/components/Pages/Common/CallToAction.astro";
import Title from "@/components/Text/Title/Title.svelte";
import { gaps } from "@/consts/style";

changeLanguage("nl");

// Value Cards
let valueCards: {
    [key: string]: string;
}[] = [];
/* @ts-ignore */
t("about:values.items").forEach((value) => {
    valueCards.push({
        title: value.title,
        description: value.desc,
        icon: "DevicesResponsive"
    });
});
export const prerender = true;
const linkedinLink = `https://linkedin.com/in/${import.meta.env.SOCIAL_LINKEDIN}`;
const twitterLink = `https://twitter.com/${import.meta.env.SOCIAL_TWITTER}`;
const facebookLink = `https://facebook.com/${import.meta.env.SOCIAL_FACEBOOK}`;
const instagramLink = `https://instagram.com/${import.meta.env.SOCIAL_INSTAGRAM}`;
const githubLink = `https://github.com/${import.meta.env.SOCIAL_GITHUB}`;
---

<BaseLayout title={t("site:pages.about.title")}>
	<Page>
		<!-- HERO -->
		<Hero slot="hero" title="About Us" media>
			<div slot="media" class="w-1/3 mb-6">
				<MistLogoAnim client:only light={`fill-surface-400 dark:fill-surface-400`} dark={`fill-surface-600 dark:fill-surface-100`} />
			</div>
			<span slot="subtitle">
				{t("about:intro.desc")}
			</span>
		</Hero>
		<!-- END HERO -->

		<!-- ABOUT ME -->
		<Section name="about-me" title="" alt>
			<div class="w-full h-fit flex flex-row gap-4 sm:gap-6 mx-auto">
				<Box 
					class="h-full w-full max-w-sm hidden lg:flex"
					client:load
					size="none">
					<Picture 
						src="/images/team/MiroStorm-Color.png"
						alt={`Miro Storm - ${t("about:miro.title")}`}
						sizes="(min-width: 600px;) 400w, (min-width: 800px;) 600w, (min-width: 1200px;) 800w"
						widths={[400, 600, 800]}
						formats={['webp', 'avif', 'png']}
						aspectRatio={1}
						fit="cover"
						position="center"
						class="h-auto w-full max-w-sm bg-transparent" 
					/>
				</Box>
				<div class="flex flex-col justify-start gap-4">
					<Card color="surface" klass="col-span-3 sm:row-span-1">
						<Title h3 size="xs" slot="title">
							{t("about:miro.hello")}<br />
							{t("about:miro.i_am")}
						</Title>
						<p>
							{t("about:miro.desc.0")}<br/>
							{t("about:miro.desc.1")}
						</p>
					</Card>
					<!-- Footer -->
					<div class="flex gap-4 flex-row items-center justify-between">
						<Box 
							class="h-full lg:hidden"
							client:load
							size="none">
							<Picture 
								src="/images/team/MiroStorm-Color.png"
								alt={`Miro Storm - ${t("about:miro.title")}`}
								sizes="(min-width: 0px;) 80w, (min-width: 200px;) 120w, (min-width: 300px;) 180w"
								widths={[80, 120, 180]}
								formats={['webp', 'avif', 'png']}
								aspectRatio={1}
								fit="cover"
								position="center"
								class="h-auto w-44 sm:w-52 bg-transparent"
							/>
						</Box>
						<!-- Buttons -->
						<div class="w-full flex flex-col lg:flex-row gap-2 md:gap-4 col-span-12 sm:col-span-8 sm:row-span-1">
							<!-- About Me -->
							<Drawer client:load>
								<Button slot="trigger" color="surface_alt" size='xl' variant="fill" capitalize block>
									{t("about:miro.more.title")}
								</Button>
								<span slot="title" class="capitalize">{t("about:miro.more.title_alt")}</span>
							</Drawer>
							<div class="flex flex-row gap-2 md:gap-4">
								<LinkedInBtn href={linkedinLink} />
								<FacebookBtn href={facebookLink} />
								<InstagramBtn href={instagramLink} />
								<TwitterBtn href={twitterLink} />
								<GithubBtn href={githubLink} />
							</div>
						</div>
					</div>
				</div>
			</div>
		</Section>
		<!-- END ABOUT ME -->

		<!-- VALUES -->
		<Section 
			fullWidthAppend
			name="about-difference" title={`${t("about:values.title")}`}
			subtitle={`${t("about:values.subtitle")}`}>

			<div class={`w-full grid grid-cols-1 md:grid-cols-2  ${gaps}`}>
				{valueCards.map((value) => (
					<><Card client:idle direction="row" centerRow block hover active>
						<Title slot="title" h3 size="xs" weight="font-bold">
							{value.title}
						</Title>
						<Svg 
							slot="media" animIcon={value.icon} client:load 
						/>
						{value.description}
					</Card></>
				))}
			</div>

			<AboutTechStackMarquee />
		</Section>
		<!-- END VALUES -->

		<!-- CTA -->
		<CallToAction />
		<!-- END CTA -->

	</Page>
</BaseLayout>
