---
import { widths } from "../../consts";
import { Heading } from '../svelte';
export interface Props {
   name: string;
   title?: string;
   klass?: string;
   alt?: boolean;
}

const { name, klass, title, alt } = Astro.props;


const sectionClass = `
   w-full mx-auto
   flex flex-col gap-8 
   pb-12 md:pb-16 
   pt-6 md:pt-8 
   px-1 xs:px-2 sm:px-4 md:px-0
   ${ alt ? 'bg-surface-100 dark:bg-surface-800' : '' }
   ${klass}
`;
---

<section
   id={name}
   class={sectionClass}>
   <div class={widths}>

      <!-- Section Title -->
      <div class="mt-0 mx-0 mb-8 py-0 pr-0 pl-8 border-l-4 border-primary-700 dark:border-primary-600/40">
         <slot name="title">
            <Heading type="h2" size="sm">
               {title}
            </Heading>
         </slot>
         <slot name="title"/>
      </div>
      
      <!-- Section Content -->
      <div class="m-0 flex flex-col gap-8">
         <slot/>
      </div>
   </div>
</section>