--- 
import { gaps, widths } from "@/consts/style";
import Title from "@/components/Text/Title/Title.svelte";
export interface Props {
   name: string;
   title?: string;
   subtitle?: string;
   klass?: string;
   alt?: boolean;
   compact?: boolean;
   transparent?: boolean;
   fullWidthPrepend?: boolean;
   fullWidthAppend?: boolean;

   svg?: string;
   img?: string;
}

const { 
   name, title, subtitle, 
   alt, transparent, klass,
   compact, svg, img,
   fullWidthPrepend = false,
   fullWidthAppend = false,
} = Astro.props;


const bgColors = {
   default: 'bg-white dark:bg-slate-900',
   alt: 'bg-gray-100/10 dark:bg-slate-800'
}


const sectionClass = `
   w-full relative overflow-hidden
   ${ !!transparent ? 'bg-transparent' : !!alt ? bgColors.alt : bgColors.default }
   ${klass}
`;
const bgImgClass = `absolute bottom-0 h-full w-full object-cover -z-1 opacity-20 mix-blend-multiply`;

const innerWrapClass = `
   ${widths} ${ compact ? 'py-6' : 'py-12 md:py-16' }
   mx-auto flex flex-col ${gaps} z-1
`
---

<section
   id={name}
   class={sectionClass}>

   <!-- {(!!svg || !!img) && (
      // TODO: optimize this
      <img 
         src={svg?? img} alt=""
         class={bgImgClass}
      />
   )} -->

   {
      fullWidthPrepend && (
         <div class="w-full">
            <slot name="prepend" />
         </div>
      )
   }

   <div class={innerWrapClass}>

      <!-- Section Title -->
      {title && (
         <div class="mt-0 mx-0 mb-8 py-0 pr-0 pl-8 border-l-4 border-primary-700 dark:border-primary-600/40">
            <slot name="title">
               <Title h2 size="2xs" class="capitalize">
                  {title}
               </Title>
               { subtitle && (
                  <Title h5 fake size="xs" class="text-surface-400 dark:text-surface-600 italic">
                     {subtitle}
                  </Title>
               )}
            </slot>
            <slot name="title"/>
         </div>
      )}

      <!-- Section Content -->
      <div class="m-0 flex flex-col gap-8">
         <slot/>
      </div>
   </div>

   {
      fullWidthAppend && (
         <div class="w-full">
            <slot name="append" />
         </div>
      )
   }

</section>