---
   import i18next, { t }   from 'i18next';
   import { baseLocale }   from '@utils/i18n';
   
   import type { NavItem } from '@tstype/components/header';
   // Astro components
   import Menu             from '@/components/Common/Menu/Menu.svelte';
	import LanguageSelector from './LanguageSelector.astro'
   import Grid             from '@/components/Core/Grid/Grid.astro';
   import { Icon }         from 'astro-icon';
   // Svelte components
   import Button           from '@/components/Common/Button/Button.svelte';
   import Svg              from '@/components/Media/Svg/Svg.svelte';
   // Specific components
   import HeaderLink       from './HeaderLink.svelte';
   import LightSwitch      from './LightSwitch.svelte';
   import Hamburger from './Hamburger.svelte';
import MobileMenu from './MobileMenu.svelte';

   const { pathname } = Astro.url;
   let currentLocaleSlug = i18next.language === baseLocale ? '' : i18next.language + '/';
   const { width } = Astro.props;

   const navItems:NavItem[] = [
		{ 
         label: t('site:pages.home.title'), 
         href: `/${currentLocaleSlug}` },
		{ 
         label: t('site:pages.about.title'), 
         href: `/${currentLocaleSlug}${t('site:pages.about.slug')}` 
      },
		{ 
         label: t('site:pages.cases.title'), 
         href: `/${currentLocaleSlug}${t('site:pages.cases.slug')}` 
      },
		{ 
         label: t('site:pages.solutions.title'), 
         href: `/${currentLocaleSlug}${t('site:pages.solutions.slug')}`,
         items: [
            {  header: `${t('site:pages.solutions.title')}`,
               items: [
                  { label: t('site:pages.solutions.solutions.web.title'),    href: `/${currentLocaleSlug}${t('site:pages.solutions.slug')}/${t('site:pages.solutions.solutions.web.slug')}` },
                  { label: t('site:pages.solutions.solutions.graphic.title'),   href: `/${currentLocaleSlug}${t('site:pages.solutions.slug')}/${t('site:pages.solutions.solutions.graphic.slug')}` },
                  { label: t('site:pages.solutions.solutions.marketing.title'),        href: `/${currentLocaleSlug}${t('site:pages.solutions.slug')}/${t('site:pages.solutions.solutions.marketing.slug')}` },
                  { label: t('site:pages.solutions.solutions.3d.title'), href: `/${currentLocaleSlug}${t('site:pages.solutions.slug')}/${t('site:pages.solutions.solutions.3d.slug')}` },
                  { label: t('site:pages.solutions.solutions.video.title'),      href: `/${currentLocaleSlug}${t('site:pages.solutions.slug')}/${t('site:pages.solutions.solutions.video.slug')}` }
            ]  },
            // {
            //    header: 'Services',
            //    items: [
            //       { label: 'SEO', href: `/${currentLocaleSlug}solutions/web#seo` },
            //       { label: 'Advertising', href: `/${currentLocaleSlug}solutions/marketing#advertising` },
            //       { label: 'Performance', href: `/${currentLocaleSlug}solutions/web#performance` },
            //    ]
            // },
         ]
      },
		{ label: t('site:pages.blog.title'), href: `/${currentLocaleSlug}${t('site:pages.blog.slug')}` },
		{ label: t('site:pages.contact.title'), href: `/${currentLocaleSlug}${t('site:pages.contact.slug')}` },
	];

   // Classes
   const headerClass = `
      flex flex-row w-full z-30
      justify-between items-center
      transition-all duration-300 ease-out
      mb-8 fixed top-0 left-0 right-0
      backdrop-blur-md bg-white dark:bg-slate-900/30 
		py-4 lg:py-6`;


   const currentPath = Astro.url.pathname;
---
<script>
   import { openMobile } from '@/stores'

   window.addEventListener('scroll', () => {
      let header = document.getElementById('header');
      if (!!header) {
         if (window.scrollY > 10) {
            header.classList.remove('lg:py-6');
            header.classList.remove('shadow-none');
            header.classList.add('shadow-xl');
            header.classList.add('shadow-primary-500/5');
            header.classList.add('dark:shadow-primary-400/3');
         } else {
            header.classList.add('lg:py-6');
            header.classList.remove('shadow-xl');
            header.classList.remove('shadow-primary-500/5');
            header.classList.remove('dark:shadow-primary-400/3');
            header.classList.add('shadow-none');
         }
      }
   });

   openMobile.subscribe(value => {
      if (!!value) {
         document.body.classList.add('overflow-hidden');
      } else {
         document.body.classList.remove('overflow-hidden');
      }
   })
</script>

<header id="header" class={headerClass}>
   <div class={`
      w-[95%] lg:w-11/12 xl:w-5/6 2xl:w-3/4 
      grid grid-cols-2 xs:grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7
      gap-2 xl:gap-4 
      mx-auto`}>
      <div class="col-span-1 flex items-center justify-start">
         { currentPath !== '/' && (
            <Button client:load variant="minimal" color="surface_alt" shadow="none" href="/">
               <Svg logo size='full' />
            </Button>
         )}
      </div>

      <nav class="hidden lg:flex col-span-4 xl:col-span-5 pt-1 items-center justify-center">
         <ul class="grid grid-cols-6 w-full gap-1 lg:gap-2">
            {navItems.map(item => (

               item.items ? (
                  <><Menu client:load id="nav_menu" event="click">
                     <span slot="trigger">{item.label}</span>
                     <div class="flex flex-col gap-2">
                        {item.items.map(dropdownSection => (
                           <div class="flex flex-col gap-1">
                              <span class="text-md uppercase font-black text-primary-800 dark:text-primary-500">{dropdownSection.header}</span>
                              <Grid>
                                 {dropdownSection.items.map(dropdownItem => (
                                    <HeaderLink size="sm" currentPath={pathname} href={dropdownItem.href} textStart>
                                       {dropdownItem.label}
                                    </HeaderLink>
                                 ))}
                              </Grid>
                           </div>
                        ))}   
                     </div>
                  </Menu></>
               ) : (
                  <><HeaderLink client:load currentPath={pathname} href={item.href}>
                     {item.label}
                  </HeaderLink></>
               )

            ))}
         </ul>
      </nav>

      <div class="col-span-1 hidden lg:flex flex-row gap-2 justify-end items-center">
         <LanguageSelector />
         <LightSwitch client:load />
      </div>
   </div>
</header>

<Hamburger client:load />
<MobileMenu navItems={navItems} pathname={pathname} client:load>
   <LanguageSelector slot="langselect" />
</MobileMenu>