---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/Utils/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import Page from '@/components/Core/Page/Page.astro';
import Hero from '@/components/Common/Hero/Hero.astro';
import { widths } from '@/consts/style';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, language, tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<Page>
		<Hero title={title} alt slot="hero"/>
		<article>
			<div class={`flex flex-col ${widths} py-2`}>
				<FormattedDate date={pubDate} type="published" />
				<FormattedDate date={updatedDate} type="updated" />
			</div>
			<hr class="border-t border-t-black"/>
			<slot />
		</article>
	</Page>
</BaseLayout>
